    
    <div class="mt-5 footer">
        <footer>
                <div class="icons">
                    <i class="fa-brands fa-facebook-f brands"></i>
                    <i class="fa-brands fa-instagram brands"></i>
                    <i class="fa-brands fa-twitter brands"></i>
                    <i class="fa-brands fa-pinterest brands"></i>
                    <i class="fa-brands fa-whatsapp brands"></i>
                    <i class="fa-brands fa-youtube brands"></i>
                    <p class="copyright">© Start, 2022. All rights reserved.</p>
                </div>      
        </footer>
    </div>
</body>
</html>