<%- include("partials/header"); -%>

<div class="landing">
  <div class="container">
    <div class="d-sm-flex text-sm-start">
      <div class="writeup">
        <img class="img-fluid d-sm-block d-md-none mt-5" src="images/group.png">
        <h4 class="pt-5">WELCOME</h4>
        <h1>Lorem ipsum dolar sit amet consectutur</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
        <button class="btn btn-lg btn-light">Explore</button>
      </div>
      <img class="img-fluid w-50 d-none d-md-block" src="images/group.png">
    </div>
  </div>
</div>
          

    <!-- Partners Div -->
    <div class="partners">
      <div class="container text-center">
        <div class="header">
          <h6 class="partner-header">PARTNERS</h6>
          <h3 class="fw-bold">Lorem Ipsum Dolor</h3>
          <p class="fw-bold">
            Lorem ipsum, dolor sit amet consectetur
            adipisicing elit.
          </p>
        </div>
        <div class="partners-img">
          <img class="partner-img" src="/images/google.png" alt="google logo" max-width="152.64px" height="50px">
          <img class="partner-img" src="/images/microsoft.png" alt="microsoft logo" max-width="210.85px" height="45px">
          <img class="partner-img" src="/images/airbnb.png" alt="airbnb logo" max-width="160.29px" height="50px">
          <img class="partner-img" src="/images/facebook.png" alt="facebook logo" max-width="196.38px" height="38px">
          <img class="partner-img" src="/images/spotify.png" alt="spotify logo" max-width="166.82px" height="50px">
        </div>
        <button class="btn btn-dark btn-lg mt-5">Learn More</button>
      </div>
    </div>
    

    <!-- More Options -->
    <div class="options">
      <div class="container">
        <div class="d-md-flex text-sm-start align-items-center">
          <img class="img-fluid" src="/images/group2.png" alt="group" max-width="600px">
          <div class="writeup">
            <h1>Lorem ipsum dolar sit amet consectutur</h1>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
            <button class="btn btn-lg btn-dark">Learn More</button>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="d-md-flex text-sm-start align-items-center">
          <img class="img-fluid d-sm-block d-md-none mt-5" src="/images/group3.png" alt="group" max-width="600px">
          <div class="writeup">
            <h1>Lorem ipsum dolar sit amet consectutur</h1>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
            <button class="btn btn-lg btn-dark">Learn More</button>
          </div>
          <img class="img-fluid w-40 d-none d-md-block" src="images/group3.png">
        </div>
      </div>
    </div>
    
    <!-- Team Section -->
    <div class="team-div">
      <div class="container text-center">
        <div class="header">
          <h6 class="partner-header">TEAM</h6>
          <h3 class="fw-bold">Lorem Ipsum Dolor</h3>
          <p class="fw-bold">
            Lorem ipsum, dolor sit amet consectetur
            adipisicing elit.
          </p>
        </div>
      </div>

      <div class="container text-center">
        <div class="row">
          <div class="col person-div mt-4">
            <figure>
              <img src="/images/person1.png" alt="person1">
              <figcaption>Ogbonna Godwin</figcaption>
              <figcaption>MD/CEO</figcaption>
            </figure>
          </div>
          <div class="col person-div mt-4">
            <figure>
              <img src="/images/person2.png" alt="person2">
              <figcaption>Nnamdi Odi</figcaption>
              <figcaption>Software Developer</figcaption>
            </figure>
          </div>
          <div class="col person-div mt-4">
            <figure>
              <img src="/images/person3.png" alt="person3">
              <figcaption>Dave Godswill</figcaption>
              <figcaption>Backend Engineer</figcaption>
            </figure>
          </div>
          <div class="col person-div mt-4">
            <figure>
              <img src="/images/person4.png" alt="person4">
              <figcaption>Franklin Peters</figcaption>
              <figcaption>UI/UX Designer</figcaption>
            </figure>
          </div>
        </div>
        <button class="btn btn-lg btn-dark mt-4">View Team</button>
      </div>
    </div>
    
<%- include("partials/footer"); -%>
