<%- include("partials/header"); -%>

<div class="services">
    <div class="container text-center">
        <div class="header">
            <h6 class="partner-header">PLANS</h6>
            <h3 class="fw-bold">Our Services</h3>
            <p>
              Lorem ipsum, dolor sit amet consectetur
              adipisicing elit.
            </p>
          </div>
    </div>
    
    <div class="row">
        <div class="container col-sm-12 col-md-4 text-center mt-2">
            <div class="card">
                <div class="card-body">
                  <h6 class="card-title">Basic</h6>
                  <h3>$100 <span>/month</span></h3>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <p class="text-start"><i class="fa-solid fa-check"></i>Lorem ipsum, dolor sit </p>
                  <p class="text-start"><i class="fa-solid fa-check"></i>Lorem ipsum, dolor sit </p>
                  <p class="text-start"><i class="fa-solid fa-check"></i>Lorem ipsum, dolor sit </p>
                  <p class="text-start"><i class="fa-solid fa-check"></i>Lorem ipsum, dolor sit </p>
                  <p class="text-start"><i class="fa-solid fa-check"></i>Lorem ipsum, dolor sit </p>
                  <a href="#" class="btn btn-dark"><button class="btn btn-dark">Learn More</button></a>
                </div>
              </div>
        </div>
    
        <div class="container col-sm-12 col-md-4 text-center mt-2">
            <div class="card">
                <div class="card-body">
                  <h6 class="card-title">Basic</h6>
                  <h3>$250 <span>/Plus</span></h3>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <p class="text-start"><i class="fa-solid fa-check"></i>Lorem ipsum, dolor sit </p>
                  <p class="text-start"><i class="fa-solid fa-check"></i>Lorem ipsum, dolor sit </p>
                  <p class="text-start"><i class="fa-solid fa-check"></i>Lorem ipsum, dolor sit </p>
                  <p class="text-start"><i class="fa-solid fa-check"></i>Lorem ipsum, dolor sit </p>
                  <p class="text-start"><i class="fa-solid fa-check"></i>Lorem ipsum, dolor sit </p>
                  <a href="#" class="btn btn-dark"><button class="btn btn-dark">Learn More</button></a>
                </div>
              </div>
        </div>
    
        <div class="container col-sm-12 col-md-4 text-center mt-2">
            <div class="card">
                <div class="card-body">
                  <h6 class="card-title">Pro</h6>
                  <h3>$400 <span>/month</span></h3>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <p class="text-start"><i class="fa-solid fa-check"></i>Lorem ipsum, dolor sit </p>
                  <p class="text-start"><i class="fa-solid fa-check"></i>Lorem ipsum, dolor sit </p>
                  <p class="text-start"><i class="fa-solid fa-check"></i>Lorem ipsum, dolor sit </p>
                  <p class="text-start"><i class="fa-solid fa-check"></i>Lorem ipsum, dolor sit </p>
                  <p class="text-start"><i class="fa-solid fa-check"></i>Lorem ipsum, dolor sit </p>
                  <a href="#" class="btn btn-dark"><button class="btn btn-dark">Learn More</button></a>
                </div>
              </div>
        </div>
    
    </div>

</div>









<%- include("partials/footer"); -%>
